@page "/editorascom"
@inject CarouselStateService CarouselState
@inject IJSRuntime JS

<div class="max-w-auto mx-auto p-0">
    <h1 class="text-2xl font-bold mb-4">Atualizar Carrossel de Notícias</h1>

    <!-- Abas -->
    <div class="border-b">
        <ul class="flex space-x-0">
            <li class="cursor-pointer" @onclick="() => AtivarAba(1)">
                <span class="@GetAbaClass(1)">Primeira Notícia</span>
            </li>
            <li class="cursor-pointer" @onclick="() => AtivarAba(2)">
                <span class="@GetAbaClass(2)">Segunda Notícia</span>
            </li>
            <li class="cursor-pointer" @onclick="() => AtivarAba(3)">
                <span class="@GetAbaClass(3)">Terceira Notícia</span>
            </li>
        </ul>
    </div>

    <!-- Conteúdo das Abas -->
    <div class="space-y-0 mt-2">
        <!-- Grupo 1 -->
        <div class="@GetAbaVisibility(1)">
            <div class="p-4 bg-white rounded-b-lg shadow-sm">
                <h2 class="text-lg font-semibold mb-2">#Carrossel 1</h2>
                <input type="text" @bind="CarouselState.Carrossel1.LinkMateria" placeholder="Link da Matéria 1" class="w-full p-2 border rounded mb-2 focus:outline-none">
                <input type="text" @bind="CarouselState.Carrossel1.LinkImagem" placeholder="Link da Imagem 1" class="w-full p-2 border rounded mb-2 focus:outline-none">
                <input type="text" @bind="CarouselState.Carrossel1.TextoMateria" placeholder="Texto da Matéria 1" class="w-full p-2 border rounded mb-2 focus:outline-none">
                <button class="bg-blue-500 text-white px-4 py-2 mt-2 rounded hover:bg-blue-600" @onclick="Salvar">Salvar</button>
            </div>
        </div>

        <!-- Grupo 2 -->
        <div class="@GetAbaVisibility(2)">
            <div class="p-4 bg-white rounded-b-lg shadow-sm">
                <h2 class="text-lg font-semibold mb-2">#Carrossel 2</h2>
                <input type="text" @bind="CarouselState.Carrossel2.LinkMateria" placeholder="Link da Matéria 2" class="w-full p-2 border rounded mb-2 focus:outline-none">
                <input type="text" @bind="CarouselState.Carrossel2.LinkImagem" placeholder="Link da Imagem 2" class="w-full p-2 border rounded mb-2 focus:outline-none">
                <input type="text" @bind="CarouselState.Carrossel2.TextoMateria" placeholder="Texto da Matéria 2" class="w-full p-2 border rounded mb-2 focus:outline-none">
                <button class="bg-blue-500 text-white px-4 py-2 mt-2 rounded hover:bg-blue-600" @onclick="Salvar">Salvar</button>
            </div>
        </div>

        <!-- Grupo 3 -->
        <div class="@GetAbaVisibility(3)">
            <div class="p-4 bg-white rounded-b-lg shadow-sm">
                <h2 class="text-lg font-semibold mb-2">#Carrossel 3</h2>
                <input type="text" @bind="CarouselState.Carrossel3.LinkMateria" placeholder="Link da Matéria 3" class="w-full p-2 border rounded mb-2 focus:outline-none">
                <input type="text" @bind="CarouselState.Carrossel3.LinkImagem" placeholder="Link da Imagem 3" class="w-full p-2 border rounded mb-2 focus:outline-none">
                <input type="text" @bind="CarouselState.Carrossel3.TextoMateria" placeholder="Texto da Matéria 3" class="w-full p-2 border rounded mb-2 focus:outline-none">
                <button class="bg-blue-500 text-white px-4 py-2 mt-2 rounded hover:bg-blue-600" @onclick="Salvar">Salvar</button>
            </div>
        </div>
    </div>
</div>

@if (!string.IsNullOrEmpty(SuccessMessage))
{
    <div class="fixed inset-0 bg-gray-500 bg-opacity-50 flex justify-center items-center z-50" @onclick="CloseModal">
        <div class="bg-white p-6 rounded-md w-1/3" @onclick:stopPropagation>
            <h5 class="text-xl font-semibold mb-0">✅ Sucesso</h5>
            <p>@SuccessMessage</p>
            <button class="mt-2 bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-700"
                @onclick="CloseModal">Fechar</button>
        </div>
    </div>
}

@code {
    private string? SuccessMessage { get; set; } = null;
    private int AbaAtiva { get; set; } = 1;

    protected override async Task OnInitializedAsync()
    {
        await CarregarDadosDoLocalStorage();
    }

    private async Task Salvar()
    {
        await JS.InvokeVoidAsync("localStorageDB.save", "carrosselDados", CarouselState);
        SuccessMessage = "Notícia Salva com Sucesso!";
    }

    private async Task CarregarDadosDoLocalStorage()
    {
        var dadosCarregados = await JS.InvokeAsync<CarouselStateService>("localStorageDB.load", "carrosselDados");
        if (dadosCarregados != null)
        {
            CarouselState.Carrossel1 = dadosCarregados.Carrossel1;
            CarouselState.Carrossel2 = dadosCarregados.Carrossel2;
            CarouselState.Carrossel3 = dadosCarregados.Carrossel3;
        }
    }

    private void CloseModal()
    {
        SuccessMessage = null;
    }

    private void AtivarAba(int aba)
    {
        AbaAtiva = aba;
    }

    private string GetAbaClass(int aba)
    {
        return AbaAtiva == aba
            ? "font-semibold text-blue-600 bg-white rounded-t-lg border-b-2 border-blue-600 py-2 px-4"
            : "text-gray-500 hover:text-blue-600 bg-gray-100 rounded-t-lg py-2 px-4 border border-gray-300";
    }

    private string GetAbaVisibility(int aba)
    {
        return AbaAtiva == aba ? "block" : "hidden";
    }
}
