@inject IJSRuntime JS

<div class="flex flex-col mt-0 mb-[55px]">
        <!-- Navbar -->
        <header class="bg-white shadow p-4 flex justify-between items-center w-full h-20 fixed top-0 left-0 z-20">
            <!-- MENSAGEM DE BEM VINDO -->
            <div class="flex items-center space-x-5">
                <img src="../assets/MARCA SMTT.png" alt="Logo da Empresa" class="w-[220px] h-30 ml-[-15px]">
                <span id="text" class="text-gray-600 text-lg font-normal"></span>
            </div>                      

            <!-- BOTOES CENTRALIZADOS -->
            <div class="flex space-x-5 absolute left-1/2 transform -translate-x-1/2 z-50">
                <!-- Menu Arquivos -->
                <div class="relative group" id="menu2">
                    <button class="p-2 text-gray-600 flex justify-between items-center" onclick="toggleDropdown('regulamentos')">Documentos <i class="fas fa-chevron-down" id="icon-chevron"></i>
                    </button>
                    <div class="dropdown-menu absolute left-1/2 transform -translate-x-1/2 mt-0 w-[400px] bg-gray-100 shadow-md rounded-sm py-2 hidden group-hover:block">
                        <a href="javascript:void(0);" @onclick="@(() => AbrirPasta(@"C:\Users\aofernandes\Documents"))" class="block px-4 py-2 hover:bg-white"><i class="fas fa-chevron-right"></i> Leis</a>
                        <a href="javascript:void(0);" @onclick="@(() => AbrirPasta(@"C:\Users\aofernandes\Documents"))" class="block px-4 py-2 hover:bg-white"><i class="fas fa-chevron-right"></i> Leis Complementares</a>
                        <a href="javascript:void(0);" @onclick="@(() => AbrirPasta(@"C:\Users\aofernandes\Documents"))" class="block px-4 py-2 hover:bg-white"><i class="fas fa-chevron-right"></i> Manuais</a>
                        <a href="javascript:void(0);" @onclick="@(() => AbrirPasta(@"C:\Users\aofernandes\Documents"))" class="block px-4 py-2 hover:bg-white"><i class="fas fa-chevron-right"></i> Portarias</a>                
                        <!-- Regulamentos -->
                        <div class="relative">
                            <button class="block px-4 py-2 text-left w-full" onclick="toggleSubmenu('regulamentos-submenu')">
                                <i class="fas fa-chevron-right transition-transform transform ml-2" id="regulamentos-icon"></i> Regulamentos                               
                            </button>
                            <div id="regulamentos-submenu" class="pl-4 hidden">
                                <a href="javascript:void(0);" @onclick="@(() => AbrirPasta(@"C:\Users\aofernandes\Documents"))" class="block px-4 py-2 text-sm hover:bg-white relative"><i class="fas fa-file"></i> Taxi</a>
                                <a href="javascript:void(0);" @onclick="@(() => AbrirPasta(@"C:\Users\aofernandes\Documents"))" class="block px-4 py-2 text-sm hover:bg-white relative"><i class="fas fa-file"></i> TE</a>
                            </div>
                        </div>                
                        <!-- Modelo de Documentos -->
                        <div class="relative">
                            <button class="block px-4 py-2 text-left w-full" onclick="toggleSubmenu('modelos-submenu')"><i class="fas fa-chevron-right transition-transform transform ml-2" id="modelos-icon"></i> Modelo de Documentos                                
                            </button>
                            <div id="modelos-submenu" class="pl-4 hidden">
                                <a href="javascript:void(0);" @onclick="@(() => AbrirPasta(@"C:\Users\aofernandes\Documents"))" class="block px-4 py-2 text-sm hover:bg-white relative"><i class="fas fa-file"></i> Ofício</a>
                                <a href="javascript:void(0);" @onclick="@(() => AbrirPasta(@"C:\Users\aofernandes\Documents"))" class="block px-4 py-2 text-sm hover:bg-white relative"><i class="fas fa-file"></i> Assinaturas de E-mails e 1DOC</a>
                                <a href="javascript:void(0);" @onclick="@(() => AbrirPasta(@"C:\Users\aofernandes\Documents"))" class="block px-4 py-2 text-sm hover:bg-white relative"><i class="fas fa-file"></i> Circular</a>
                                <a href="javascript:void(0);" @onclick="@(() => AbrirPasta(@"C:\Users\aofernandes\Documents"))" class="block px-4 py-2 text-sm hover:bg-white relative"><i class="fas fa-file"></i> Estudo Técnico Preliminar</a>
                                <a href="javascript:void(0);" @onclick="@(() => AbrirPasta(@"C:\Users\aofernandes\Documents"))" class="block px-4 py-2 text-sm hover:bg-white relative"><i class="fas fa-file"></i> Termo de Referência</a>
                            </div>
                        </div>                
                        <a href="javascript:void(0);" @onclick="@(() => AbrirPasta(@"C:\Users\aofernandes\Documents"))" class="block px-4 py-2 hover:bg-white"><i class="fas fa-chevron-right"></i> Políticas de TI</a>
                    </div>
                </div>
                <!-- Menu Departamentos -->
                <div class="relative group" id="menu3">
                    <button class="p-2 text-gray-600">Departamentos <i class="fas fa-chevron-down"></i></button>
                    <div
                        class="dropdown-menu absolute left-1/2 transform -translate-x-1/2 mt-0 w-[450px] bg-gray-100 shadow-md rounded-sm py-2 hidden group-hover:block">
                        <a href="javascript:void(0);" @onclick="@(() => AbrirPasta(@"C:\Users\aofernandes\Documents"))" class="block px-4 py-2 hover:bg-white"><i class="fas fa-folder"></i> Assessoria de Comunicação (Ascom)</a>
                        <a href="javascript:void(0);" @onclick="@(() => AbrirPasta(@"C:\Users\aofernandes\Documents"))" class="block px-4 py-2 hover:bg-white"><i class="fas fa-folder"></i> Diretoria Administrativa e Financeira (DAF)</a>
                        <a href="javascript:void(0);" @onclick="@(() => AbrirPasta(@"C:\Users\aofernandes\Documents"))" class="block px-4 py-2 hover:bg-white"><i class="fas fa-folder"></i> Diretoria de Tecnolocia da Informação (DTI)</a>
                        <a href="javascript:void(0);" @onclick="@(() => AbrirPasta(@"C:\Users\aofernandes\Documents"))" class="block px-4 py-2 hover:bg-white"><i class="fas fa-folder"></i> Diretoria de Trânsito (DT)</a>
                        <a href="javascript:void(0);" @onclick="@(() => AbrirPasta(@"C:\Users\aofernandes\Documents"))" class="block px-4 py-2 hover:bg-white"><i class="fas fa-folder"></i> Diretoria de Transporte Público (DTP)</a>
                        <a href="javascript:void(0);" @onclick="@(() => AbrirPasta(@"C:\Users\aofernandes\Documents"))" class="block px-4 py-2 hover:bg-white"><i class="fas fa-folder"></i> Diretoria de Planejamento e Sistemas (DPF)</a>
                        <a href="javascript:void(0);" @onclick="@(() => AbrirPasta(@"C:\Users\aofernandes\Documents"))" class="block px-4 py-2 hover:bg-white"><i class="fas fa-folder"></i> Gabinete da Superintendência</a>
                        <a href="javascript:void(0);" @onclick="@(() => AbrirPasta(@"C:\Users\aofernandes\Documents"))" class="block px-4 py-2 hover:bg-white"><i class="fas fa-folder"></i> JARI</a>
                        <a href="javascript:void(0);" @onclick="@(() => AbrirPasta(@"C:\Users\aofernandes\Documents"))" class="block px-4 py-2 hover:bg-white"><i class="fas fa-folder"></i> Procuradoria Juridica (PROJUR)</a>
                        <a href="javascript:void(0);" @onclick="@(() => AbrirPasta(@"C:\Users\Kabula Fernandes\Documents"))" class="block px-4 py-2 hover:bg-white"><i class="fas fa-folder"></i> Mundo</a>
                        <a href="javascript:void(0);" @onclick="@(() => AbrirPasta(@"C:\Users\aofernandes\Downloads"))" class="block px-4 py-2 hover:bg-white"><i class="fas fa-folder"></i> Ouvidoria</a>
                </div>
                </div>
                <!-- Menu Sistemas -->
                <div class="relative group" id="menu4">
                    <button class="p-2 text-gray-600">Sistemas <i class="fas fa-chevron-down"></i></button>
                    <div
                        class="dropdown-menu absolute left-1/2 transform -translate-x-1/2 mt-0 ml-[-60px] w-[1300px] bg-gray-100 shadow-md rounded-sm py-1 hidden group-hover:block">
                        <div class="grid grid-cols-3 gap-6 p-4">
                            <!-- Coluna 1: Atende -->
                            <div class="border-r border-gray-300 pr-6">
                                <a class="block px-4 py-2 ml-[-10px]"><i class="fas fa-chevron-right"></i> Atende</a>
                                <div class="ml-4">
                                    <a href="javascript:void(0);" @onclick="@(() => AbrirPasta(@"C:\Users\aofernandes\Documents"))" class="block px-4 py-2 text-sm hover:bg-white relative"><i class="fas fa-desktop"></i> GED</a>
                                    <a href="javascript:void(0);" @onclick="@(() => AbrirPasta(@"C:\Users\aofernandes\Documents"))" class="block px-4 py-2 text-sm hover:bg-white relative"><i class="fas fa-desktop"></i> TOTEM</a>
                                </div>
                            </div>
                            <!-- Coluna 2: Atendimento -->
                            <div class="border-r border-gray-300 pr-6">
                                <a class="block px-4 py-2 ml-[-10px]"><i class="fas fa-chevron-right"></i> Atendimento</a>
                                <div class="ml-4">
                                    <a href="javascript:void(0);" @onclick="@(() => AbrirPasta(@"C:\Users\aofernandes\Documents"))" class="block px-4 py-2 text-sm hover:bg-white relative"><i class="fas fa-desktop"></i> Credencial Estacionamento</a>
                                    <a href="javascript:void(0);" @onclick="@(() => AbrirPasta(@"C:\Users\aofernandes\Documents"))" class="block px-4 py-2 text-sm hover:bg-white relative"><i class="fas fa-desktop"></i> GED</a>
                                    <a href="javascript:void(0);" @onclick="@(() => AbrirPasta(@"C:\Users\aofernandes\Documents"))" class="block px-4 py-2 text-sm hover:bg-white relative"><i class="fas fa-desktop"></i> JARI</a>
                                    <a href="javascript:void(0);" @onclick="@(() => AbrirPasta(@"C:\Users\aofernandes\Documents"))" class="block px-4 py-2 text-sm hover:bg-white relative"><i class="fas fa-desktop"></i> TOTEM</a>
                                </div>
                            </div>
                            <!-- Coluna 3: Diretoria de Trânsito (DT) -->
                            <div>                                
                                <a class="block px-4 py-2 "><i class="fas fa-chevron-right"></i> Diretoria de Trânsito (DT)</a>
                                <div class="ml-4">
                                    <a href="javascript:void(0);" @onclick="@(() => AbrirPasta(@"C:\Users\aofernandes\Documents"))" class="block px-4 py-2 text-sm hover:bg-white relative"><i class="fas fa-desktop"></i> Eventos FINAN</a>
                                    <a href="javascript:void(0);" @onclick="@(() => AbrirPasta(@"C:\Users\aofernandes\Documents"))" class="block px-4 py-2 text-sm hover:bg-white relative"><i class="fas fa-desktop"></i> GERMUL</a>
                                    <a href="javascript:void(0);" @onclick="@(() => AbrirPasta(@"C:\Users\aofernandes\Documents"))" class="block px-4 py-2 text-sm hover:bg-white relative"><i class="fas fa-desktop"></i> GERMUL CONSULTAS</a>
                                    <a href="javascript:void(0);" @onclick="@(() => AbrirPasta(@"C:\Users\aofernandes\Documents"))" class="block px-4 py-2 text-sm hover:bg-white relative"><i class="fas fa-desktop"></i> SIATRAN</a>
                                </div>
                            </div>
                            <!-- Coluna 1 (segunda linha): Diretoria de Trânsito (DTP) -->
                            <div class="border-r border-gray-300 pr-6">
                                <a class="block px-4 py-2"><i class="fas fa-chevron-right"></i> Diretoria de Trânsporte Público (DTP) </a>
                                <div class="ml-4">
                                    <a href="javascript:void(0);" @onclick="@(() => AbrirPasta(@"C:\Users\aofernandes\Documents"))" class="block px-4 py-2 text-sm hover:bg-white relative"><i class="fas fa-desktop"></i> COPOB</a>
                                    <a href="javascript:void(0);" @onclick="@(() => AbrirPasta(@"C:\Users\aofernandes\Documents"))" class="block px-4 py-2 text-sm hover:bg-white relative"><i class="fas fa-desktop"></i> FOOD TRUCK</a>
                                    <a href="javascript:void(0);" @onclick="@(() => AbrirPasta(@"C:\Users\aofernandes\Documents"))" class="block px-4 py-2 text-sm hover:bg-white relative"><i class="fas fa-desktop"></i> TAXI</a>
                                    <a href="javascript:void(0);" @onclick="@(() => AbrirPasta(@"C:\Users\aofernandes\Documents"))" class="block px-4 py-2 text-sm hover:bg-white relative"><i class="fas fa-desktop"></i> TE</a>
                                </div>
                            </div>
                            <!-- Coluna 2 (segunda linha): Diretoria de Tecnologia da Informação (DTI) -->
                            <div class="border-r border-gray-300 pr-6">
                                <a class="block px-4 py-2"><i class="fas fa-chevron-right"></i> Diretoria de Tecnologia da Informação (DTI) </a>
                                <div class="ml-4">
                                    <a href="javascript:void(0);" @onclick="@(() => AbrirPasta(@"C:\Users\aofernandes\Documents"))" class="block px-4 py-2 text-sm hover:bg-white relative"><i class="fas fa-desktop"></i> PATRIM DEVICES</a>
                                    <a href="javascript:void(0);" @onclick="@(() => AbrirPasta(@"C:\Users\aofernandes\Documents"))" class="block px-4 py-2 text-sm hover:bg-white relative"><i class="fas fa-desktop"></i> GERMUL</a>
                                    <a href="javascript:void(0);" @onclick="@(() => AbrirPasta(@"C:\Users\aofernandes\Documents"))" class="block px-4 py-2 text-sm hover:bg-white relative"><i class="fas fa-desktop"></i> GERMUL CONSULTAS</a>
                                    <a href="javascript:void(0);" @onclick="@(() => AbrirPasta(@"C:\Users\aofernandes\Documents"))" class="block px-4 py-2 text-sm hover:bg-white relative"><i class="fas fa-desktop"></i> JARI</a>
                                    <a href="javascript:void(0);" @onclick="@(() => AbrirPasta(@"C:\Users\aofernandes\Documents"))" class="block px-4 py-2 text-sm hover:bg-white relative"><i class="fas fa-desktop"></i> SIATRAN</a>
                                    <a href="editor" class="block px-4 py-2 text-sm hover:bg-white relative"><i class="fas fa-desktop"></i> INTRANET</a>
                                </div>
                            </div>
                            <!-- Coluna 3 (segunda linha): JARI -->
                            <div>
                                <a class="block px-4 py-2"><i class="fas fa-chevron-right"></i> JARI</a>
                                <div class="ml-4">
                                    <a href="javascript:void(0);" @onclick="@(() => AbrirPasta(@"C:\Users\aofernandes\Documents"))" class="block px-4 py-2 text-sm hover:bg-white relative"><i class="fas fa-desktop"></i> GERMUL</a>
                                    <a href="javascript:void(0);" @onclick="@(() => AbrirPasta(@"C:\Users\aofernandes\Documents"))" class="block px-4 py-2 text-sm hover:bg-white relative"><i class="fas fa-desktop"></i> JARI</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- MENU ESTILO GOOGLE -->
            <div class="relative" x-data="{ openMenu: false }" @click.outside="openMenu = false">
                <div class="flex justify-between items-center">
                    <span class="date text-md text-gray-700 leading-tight" id="date"></span>
                    <button @click="openMenu = !openMenu" class="p-3" title="Links Úteis">
                        <i class="material-icons text-blue-900 text-3xl">apps</i>
                    </button>
                </div>
                <div x-show="openMenu"
                    class="absolute right-5 mt-2 w-[350px] bg-white shadow-xl rounded py-2 grid grid-cols-3 gap-2 p-3">
                    <a href="https://www.google.com" target="_blank" class="text-center p-2 hover:bg-gray-100 rounded"
                        @click="openMenu = false">
                        <i class="fab fa-google text-red-500 text-4xl"></i>
                        <span class="text-1xl text-gray-700 block">Google</span>
                    </a>
                    <a href="https://drive.google.com" target="_blank" class="text-center p-2 hover:bg-gray-100 rounded"
                        @click="openMenu = false">
                        <i class="fab fa-google-drive text-blue-700 text-4xl"></i>
                        <span class="text-1xl text-gray-700 block">Google Drive</span>
                    </a>
                    <a href="https://docs.google.com" target="_blank" class="text-center p-2 hover:bg-gray-100 rounded"
                        @click="openMenu = false">
                        <i class="fas fa-file-alt text-green-500 text-4xl"></i>
                        <span class="text-1xl text-gray-700 block">Google Docs</span>
                    </a>
                    <a href="https://meet.google.com" target="_blank" class="text-center p-2 hover:bg-gray-100 rounded"
                        @click="openMenu = false">
                        <i class="fas fa-video text-green-600 text-4xl"></i>
                        <span class="text-1xl text-gray-700 block">Google Meet</span>
                    </a>
                    <a href="https://web.whatsapp.com" target="_blank" class="text-center p-2 hover:bg-gray-100 rounded"
                        @click="openMenu = false">
                        <i class="fab fa-whatsapp text-green-500 text-4xl"></i>
                        <span class="text-1xl text-gray-700 block">WhatsApp Web</span>
                    </a>
                    <a href="https://zoom.us" target="_blank" class="text-center p-2 hover:bg-gray-100 rounded"
                        @click="openMenu = false">
                        <i class="fas fa-video text-blue-500 text-4xl"></i>
                        <span class="text-1xl text-gray-700 block">Zoom</span>
                    </a>
                    <a href="https://translate.google.com" target="_blank" class="text-center p-2 hover:bg-gray-100 rounded" @click="openMenu = false">
                        <i class="fas fa-language text-blue-500 text-4xl"></i>
                        <span class="text-1xl text-gray-700 block">Tradutor</span>
                    </a>
                    
                    <a href="https://calendar.google.com" target="_blank" class="text-center p-2 hover:bg-gray-100 rounded" @click="openMenu = false">
                        <i class="fas fa-calendar-alt text-red-500 text-4xl"></i>
                        <span class="text-1xl text-gray-700 block">Agenda</span>
                    </a>
                    
                    <a href="https://forms.google.com" target="_blank" class="text-center p-2 hover:bg-gray-100 rounded" @click="openMenu = false">
                        <i class="fas fa-file-alt text-purple-500 text-4xl"></i>
                        <span class="text-1xl text-gray-700 block">Formulários</span>
                    </a>
                </div>
            </div>
            
        </header>
        <!-- Divider -->
        <div class="h-1 fixed top-[80px] left-0 right-0 bg-gradient-to-r from-green-400 via-blue-600 to-blue-900 h-[4px] z-10 animate-gradient"></div>
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await Task.Delay(500); // Aguarde 500ms antes de chamar o JS
            await JS.InvokeVoidAsync("startAnimation");
        }
    }

     private async Task AbrirPasta(string caminho)
    {
        await JS.InvokeVoidAsync("abrirLocalExplorer", caminho);
    }
}